# fly.toml app configuration file generated for spree-starter
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "spree-starter"
primary_region = "cdg"  # Paris (changez selon votre région préférée)

[build]
  dockerfile = "Dockerfile"

[env]
  RAILS_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 3000
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[vm]]
  memory_mb = 512
  cpu_kind = "shared"
  cpus = 1

[processes]
  app = "bin/rails server -b 0.0.0.0"
  worker = "bundle exec sidekiq"

